*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;

}

h4{
    font-size: 18px;
    color: #222;
}

body{
    width: 100%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background: #d655bad1;
    box-shadow: 0 5px 15px rgba(red, green,blue,alpha);
}

#nav{
    display: flex;
    align-items:center;
    justify-content: center;
}
#nav li{
    list-style:none;
    padding: 0 20px;
    position: relative;
}
#nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}
#nav li a:hover,
#nax li a.active{
    color:rgb(178, 98, 98);
}
#nav li a.active::after,
#nav li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background:#4c2d2d;
    position:absolute;
    bottom: -4px;
    left:20px
}
#mobile{
    display: none;
    align-items: center;

}
#close{
    display: none;
}
.main{
    height: 500px;
    width: 100%;
    border: 4px solid plum;
    background-color: white;
    padding-left: 4px;
}
#hero{
    height: 550px;
    width: 200vw;
    background-image: url("image/b15.avif");
    width: 100%; /* Makes the image fill the width of its container */
    background-size: contain; /* Makes the image cover the container */
    background-position: right; /* Centers the image */
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#her0 h4{
    padding-bottom: 15px;
}
#hero p{
    font-size: small;
    font-style: italic;
}
#hero button{
    background-image: url("image/button.png");
    background-color: transparent;
    color:black;
    border: 0;
    padding: 14px 80px 12px 60px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.section-p1{
    padding: 10px 80px;
}
.section-p2{
    padding: 10px 80px;
}
.section-m1{
    margin:40px 0;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(154, 149, 149);
    border-radius: 30%;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(63, 55, 228, 0.01);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fddde4;
}
#feature .fe-box1{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(154, 149, 149);
    border-radius: 30%;
    margin: 15px 0;
}

#feature .fe-box1:hover{
    box-shadow: 10px 10px 54px rgba(63, 55, 228, 0.01);
}
#feature .fe-box1 img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box1 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #cdebbc;
}
#feature .fe-box2{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(154, 149, 149);
    border-radius: 30%;
    margin: 15px 0;
}

#feature .fe-box2:hover{
    box-shadow: 10px 10px 54px rgba(63, 55, 228, 0.01);
}
#feature .fe-box2 img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box2 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color:#d1e8f2;
}
#feature .fe-box3{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(154, 149, 149);
    border-radius: 30%;
    margin: 15px 0;
}

#feature .fe-box3:hover{
    box-shadow: 10px 10px 54px rgba(63, 55, 228, 0.01);
}
#feature .fe-box3 img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box3 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #cdd4f8;
}
#feature .fe-box4{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(154, 149, 149);
    border-radius: 30%;
    margin: 15px 0;
}

#feature .fe-box4:hover{
    box-shadow: 10px 10px 54px rgba(63, 55, 228, 0.01);
}
#feature .fe-box4 img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box4 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #f6dbf6;
}
#feature .fe-box5{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(154, 149, 149);
    border-radius: 30%;
    margin: 15px 0;
}

#feature .fe-box5:hover{
    box-shadow: 10px 10px 54px rgba(63, 55, 228, 0.01);
}
#feature .fe-box5 img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box5 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fff2e5;
}
#product1{
    text-align: center;
}
#product1 .pro-contain{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    background: #dbdbea;
    color:white;

}
#product1 .pro img{
    height: 300px;
    border-radius: 40px;
}
#product1 .pro .des{
    text-align: start;
    padding:10px 0;
}
#product1 .pro .des span{
    color:#606063;
    font-size: 12px;
}
#product .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243,181,25);
}

#product1 .pro a{
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius:50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color:#088178;
    border: 1px solid white;
    position: absolute;
    bottom: 20px;
    right: 10px;
    
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("image/beauty2.avif");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color:#fff;
    font-size: 16px;
}
#banner h2{
    color:#fff;
    font-size: 30px;
    padding:10px 0;
}
#banner h2 span{
    color:#ef3636;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#000;
    background-color: white;
    border-radius: 4px;
    cursor:pointer;
    border: none;
    outline:none;
    transition: 0.2s;

}
#banner button:hover{
    background: #088178;
    color:white;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    background-image: url("image/banner.jpg");
    min-width: 670px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding:30px;
}
#sm-banner .banner-box2{
    background-image: url("image/summer.avif");
}
#sm-banner h4{
    
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    
    font-size:30px;
    font-weight: 600;
    padding-top: 5px;
}
#sm-banner span{
    
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 7px;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:#000;
    background-color: transparent;
    border: 1px solid white;
    cursor:pointer;
    outline:none;
    transition: 0.2s;
}
#sm-banner button:hover{
    background: #088178;
    color:white;
}

#sm-banner1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#sm-banner1 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    background-image: url("image/b11.avif");
    width: 30%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    padding:20px;
    margin-bottom: 20px;
}
#sm-banner1 .banner-box4{
    background-image: url("image/foot1.avif");

}
#sm-banner1 .banner-box5{
    background-image: url("image/tshirt1.avif");
}
#sm-banner1 h2{
    color:white;
    font-weight: 900;
    font-size: 22px;
}
#sm-banner1 h4{
    color:white;
    font-weight: 600;
    font-size: 15px;
}
#new{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    background-color: #040a3c;
    flex-wrap: wrap;
    align-items: center;
}
#new .newtext h4{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.newtext p{
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.newtext span{
    color:rgb(210, 156, 30)
}
#new .form{
    display: flex;
    width: 50%;
}
#new input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
#new button{
    background-color: #088178;
    color:white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer .col1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size:14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin:0 0 8px 0;

}
footer a{
    font-size: 13px;
    text-decoration: none;
    color:#222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;

}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color:#088178

}
footer .Copy{
    font-size: 25px;
    width: 100%;
    text-align: center;
}
/* shop */
#pageheader{
    background-image: url("image/banner3.avif");
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:14px;
}
#pageheader h4{
    font-size: 28px;
    font-weight: 700;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding:15px 20px;
    border-radius: 4px;
    color:#fff;
    font-weight: 600;

}

/* product */

#pro-details{
    display: flex;
    margin:40px
}
#pro-details .single-pro{
    width: 40%;
    
    margin-right: 50px;

}
.smallimg-group{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#pro-details .single-pro-details{
    width: 50%;
    padding-top: 30px;

}
#pro-details .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#pro-details .single-pro-details h2{
    font-size: 26px;
    margin-bottom: 10px;
    
}
#pro-details .single-pro-details select{
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
}
#pro-details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#pro-details .single-pro-details input:focus{
    outline: none;
}
#pro-details .single-pro-details button{
    background-color: #088178;
    color:#fff;
}
#pro-details .single-pro-details input span{
    line-height: 25px;
}

/* blog */
#pageheader.blog-header{
    background-image: url("image/blog2.avif");
    text-align: left;
    color:black;
    font-weight: 600;
    padding: 70px;
    
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items:center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img {
    width: 70%;
    margin-right: 40px;
}
#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}
#blog.blog-details{
    width: 50%;
}
#blog.blog-details a{
    text-decoration: none;
    font-size: 15px;
    color:black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog.blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
.blog-details h4{
    font-size: 22px;
    padding-bottom: 20px;
}
.blog-details p{
    font-size: 15px;
    padding-bottom: 15px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
.blog-box h1{
    position: absolute;
    top:-40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbc3;
    z-index: -9;
}


@media (max-width:850px) {
    #nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    }
    #nav.active{
        right:0px;
    }
    #nav li{
        margin-bottom: 25px;
    }

     
    #mobile{
        display: flex;
        align-items: center;
    }
    #close{
        display: initial;
        position:absolute;
        top:30px;
        left: 30px;
        color:#000;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 15px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    footer .copyright{
        text-align: start;
    }
    #pro-details{
        display: flex;
        flex-direction: column;
    }
    #pro-details .single-pro{
        width: 100%;
        margin-right: 0px;

    }
    #blog{
        padding: 100px 20px 0 20px
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        padding-bottom: 70px;
        padding-top: 10px;
    }
    #blog .blog-img{
        width: 50%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }

}